html {
  color-scheme: dark;
  font-family: system-ui;
}

/* https://developer.chrome.com/blog/carousels-with-css*/
.carousel {
  list-style: none;
  margin: 5rem;
  padding: 1rem;
  border: 5px solid white;

  display: grid;
  gap: 2rem;
  grid-auto-flow: column;
  grid-auto-columns: 40%;

  overflow-x: auto;
  scroll-snap-type: x mandatory;

  anchor-name: --carousel;

  scroll-marker-group: after;
  &::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
  }

  > li {
    scroll-snap-align: center;
  }

  > li::scroll-marker {
    content: ' ';
    width: 20px;
    /*aspect-ratio: 1;*/ /* not working, not sure why */
    height: 20px;
    border-radius: 100%;
    border: 2px solid CanvasText;
  }

  /* Can use keyboard left and right to navigate the scroll-marker. and able to do it in circular way */
  /* Keep in mind that you cannot do nesting with sudo element, you cannot do:
     > li::scroll-marker {
       &:target-current{...}
     }
     sudo element will have to continue to list out like before.
  */
  > li::scroll-marker:target-current {
    background: CanvasText;
  }

  &::scroll-button(*) {
    position: fixed;
    position-anchor: --carousel;
    margin: 1rem;
    font: inherit;
    background: dodgerblue;
    border: 0;
    border-radius: 4px;
    font-weight: 700;
  }

  &::scroll-button(right) {
    content: 'Right';
    /* https://developer.chrome.com/docs/css-ui/anchor-positioning-api */
    position-area: center right;
  }
  &::scroll-button(left) {
    content: 'Left';
    position-area: center left;
  }
}
