html {
  color-scheme: dark;
  font-family: system-ui;
}

/* https://developer.chrome.com/blog/carousels-with-css*/
.carousel {
  list-style: none;
  margin: 5rem;
  padding: 1rem;
  border: 5px solid white;

  display: grid;
  gap: 2rem;
  grid-auto-flow: column;
  grid-auto-columns: 40%;

  overflow-x: auto;

  scroll-snap-type: x mandatory;

  anchor-name: --carousel;

  > li {
    scroll-snap-align: center;
  }

  &::scroll-button(*) {
    position: fixed;
    position-anchor: --carousel;
    margin: 1rem;
    font: inherit;
    background: dodgerblue;
    border: 0;
    border-radius: 4px;
    font-weight: 700;
  }

  &::scroll-button(right) {
    content: 'Right';
    /* https://developer.chrome.com/docs/css-ui/anchor-positioning-api */
    position-area: center right;
  }
  &::scroll-button(left) {
    content: 'Left';
    position-area: center left;
  }
}
